// COLOR VARIABLES
$color-yellow: #FCB72B;
$color-dark-navy: #495567;
$color-dim-grey: #939CAA;
$color-light-grey: #E5ECF4;
$color-snow: #F2F5F9;
$color-light-yellow: #FFF4DF;
$color-dark-grey: #333A44;

$font-mono: 'Space Mono',
sans-serif;
$font-lex: 'Lexend Deca',
sans-serif;

// BREAKPOINTS
$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000

$margin-md: 3rem;

.margin-sm {
    margin-bottom: 0.2rem;

    @media only screen and (min-width: $bp-tablet) {
        margin-bottom: 27px;
    }
}





/// BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;


}



body {
    font-family: $font-lex;
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    
    max-width: 1440px;
    margin: 0 auto;

    @media only screen and (min-width: $bp-desktop) {
        overflow-x: hidden;
    }





}

section {

    @media only screen and (min-width: $bp-tablet) {
        margin: 0 2rem 7.5rem 2rem;
    }

}

h1,
h2,
h3 {
    letter-spacing: -2.14px;


}

.master-container {
    max-width: 1920px;
    margin: 0 auto;
}




