// COLOR VARIABLES
$color-yellow: #FCB72B;
$color-dark-navy: #495567;
$color-dim-grey: #939CAA;
$color-light-grey: #E5ECF4;
$color-snow: #F2F5F9;
$color-light-yellow: #FFF4DF;

$font-mono: 'Space Mono',
sans-serif;
$font-lex: 'Lexend Deca',
sans-serif;



/// BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;


}



body {
    font-family: $font-lex;
    font-size: 16px;
    overflow-x: hidden;

}

main {
    max-width: 1440px;
    margin: 0 auto;




}


// TYPOGRAPHY

.h1-title-home {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family: $font-mono;
    color: $color-snow;
    margin: 0;
    margin-top: 5rem;
}



///////NAVIGATION-TOP
.navigation-container {


    position: relative;
    padding: 1.5rem;
    display: flex;


}

.logo {
    margin: 0 auto;
}

.hamburger-menu {
    background-color: transparent;
    background-image: url(../src/assets/icons/hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 20px;
    height: 16px;
    background-position: center center;
    z-index: 20;
    align-self: center;
}

.hamburger-menu.active {
    background-image: url(../src/assets/icons/close.svg);
}

.nav-primary {

    background-color: #333a44;
    position: absolute;
    display: none;
    list-style: none;

    &__list {
        position: absolute;
        top: 64px;
        margin-left: 32px;
        color: #fff;
        list-style: none;
        font-family: inherit;
        gap: 2rem;
        font-family: $font-mono;
        font-size: 1.4rem;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 1.6rem;
    }

    &__list-link {}


}



.nav-primary.show {
    display: block;
    z-index: 200;
    width: 18.5rem;
    height: 100vh;
    position: absolute;
    top: 4.8rem;
    left: 0;
    top: 4.8rem;
}





.header {
    background-image: url('../src/assets/images/home-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%; // fit whole image
    height: 90vh;
    position: relative;

    &__content {
        color: $color-snow;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;

    }

    &__description {
        font-family: $font-lex;
        line-height: 30px;
        max-width: 95%;
        margin: 0 auto;

    }

    &__cta {
        background-color: $color-yellow;
        color: $color-snow;
        font-family: $font-mono;
        border: 0;
        cursor: pointer;
        width: 11.25rem;
        padding: 1.2rem;
        margin: 0 auto;
    }

    &__cta.cta-nav {
        position: absolute;
        bottom:15rem;
        margin-left: 32px;
    }

    &__arrow {
        position: absolute;
        bottom: 9rem;
        left: -18rem;
    }


}