.benefits {

  &__content-container {

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-tablet) {
      gap: 5rem;
    }


  }

  &__box-right {

    @media only screen and (min-width: $bp-desktop) {
      // border: 2px solid rgb(216, 97, 43);
    }

  }

  &__box-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;


    @media only screen and (min-width: $bp-desktop) {
      text-align: left;
      align-items: initial;
    }

  }

  &__box.about {

    &::before {

      @media only screen and (min-width: $bp-tablet) {
        
        left: 575px;
       
      }

      @media only screen and (min-width: $bp-desktop) {
        left: 1130px;
      }

  }

}

  &__box {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 0 2.2rem 4rem 2.2rem;
    text-align: center;
    position: relative;

    @media only screen and (min-width: $bp-tablet) {
      gap: 2.5rem;
      margin: 0 auto;

    }

    @media only screen and (min-width: $bp-desktop) {
      flex-direction: row-reverse;
    }

    &::before {

      @media only screen and (min-width: $bp-tablet) {
        content: "";
        height: 445px;
        width: 445px;
        position: absolute;
        background-image: url('../src/assets/patterns/circle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: -13px;
        left: 643px;
        z-index: -1;
      }

      @media only screen and (min-width: $bp-desktop) {
        left: 1139px;
      }

      

    }


  }

  &__img {
    border-radius: 50%;
    width: 311px;
    height: 311px;

    @media only screen and (min-width: $bp-tablet) {
      width: 445px;
      height: 445px;
    }

    @media only screen and (min-width: $bp-desktop) {
      margin-left: 10rem;
    }
  }



  &__heading {
    color: $color-dark-navy;
    font-family: $font-mono;
    font-size: 32px;

    @media only screen and (min-width: $bp-tablet) {
      max-width: 457px;
      font-size: 48px;
    }
  }

  &__description {
    color: $color-dim-grey;
    font-size: 15px;
    line-height: 25px;

    @media only screen and (min-width: $bp-tablet) {
      max-width: 570px;
    }

    @media only screen and (min-width: $bp-desktop) {
      max-width: 473px;
    }
  }

  &__button {
    background-color: $color-yellow;
    color: $color-snow;
    font-family: $font-mono;
    border: 0;
    cursor: pointer;
    width: 11.25rem;
    padding: 1.2rem;
    margin: 0 auto;

    @media only screen and (min-width: $bp-desktop) {
      margin: 0;
    }
  }

  &__arrow-left-down {
    position: absolute;
    top: 10.5rem;
    left: 1rem;

    @media only screen and (min-width: $bp-desktop) {
      top: 18.5rem;
      left: 34rem;

    }
  }

  &__arrow-right {
    position: absolute;
    top: -0.5rem;
    left: -12rem;

    @media only screen and (min-width: $bp-tablet) {
      left: -13rem;
    }

  }

  &__arrow-far-right {
    position: absolute;
    top: -0.5rem;
    left: -7rem;

    @media only screen and (min-width: $bp-tablet) {
      top: -1.5rem;
      left: -15rem;
    }
  }

  &__arrow-left-down-high {
    position: absolute;
    top: -0.5rem;
    left: 8rem;

    @media only screen and (min-width: $bp-tablet) {
      left: 18rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      left: 57rem;
      top: 4.5rem;
    }
  }

  &__arrow-left-up {
    position: absolute;
    top: 8rem;
    left: 3rem;

    @media only screen and (min-width: $bp-tablet) {
      top: 15rem;
      left: -4rem;
      width: 830px;
    }

    @media only screen and (min-width: $bp-desktop) {
      left: 32rem;
    }
  }
}

.benefits__box:nth-child(2) {

  &::before {

    @media only screen and (min-width: $bp-tablet) {
      content: "";
      height: 445px;
      width: 445px;
      position: absolute;
      background-image: url('../src/assets/patterns/circle.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: -13px;
      left: -409px;
      z-index: -1;
    }

    



  }



}


.benefits__box:nth-child(2) {

  @media only screen and (min-width: $bp-desktop) {
    flex-direction: row;
  }

}

.benefits__box:nth-child(2)> :nth-child(1)> :nth-child(2) {
  @media only screen and (min-width: $bp-desktop) {
    margin-right: 10rem;
    margin-left: 0;
  }



}