.faq {
  &__heading {
    @media only screen and (min-width: $bp-tablet) {
       font-size: 48px; 
    }
  }

  &__heading-top {
    @media only screen and (min-width: $bp-tablet) {
       font-size: 40px; 
    }
  }
}

.accordion {
  width: 90%;
  margin: 2rem auto;
  
  &__item {
    background-color: #fff;
    color: $color-dark-navy;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  &__item-header {
    padding: 2rem;
    min-height: 70px;
    width: 340px;
    margin: 0 auto;
    font-family: $font-mono;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: $color-snow;

    @media only screen and (min-width: $bp-tablet) {
      width: auto;  
      font-size: 48px;
    }

  }

  &__item-header::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 14px;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
    background: url(../src/assets/icons/chevron.svg) no-repeat;

  }

  &__item-header.active::after {
    // content: "\2212";
    transform: rotate(180deg);
  }

  &__item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: $color-snow;
    width: 340px;
    margin: 0 auto;

    @media only screen and (min-width: $bp-tablet) {
      width: auto;   
    }
  }

  &__item-body-content {
    line-height: 1.5rem;
    padding: 0 2rem 2rem 2rem;



  }


  &__h3-title {
    max-width: 260px;
    font-size: 18px;

    @media only screen and (min-width: $bp-tablet) {
        max-width: inherit;
        font-size: 24px;
    }

  }



}