.footer {

    background-color: $color-dark-navy;
    height: 80vh;
    display: flex;
    flex-direction: column;

    &__top {

        padding: 2rem;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
        position: relative;

        &:before {
            content: "";
            display: block;
            background-image: url('src/assets/patterns/white-circles.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-size: 1000px;
            position: absolute;
            top: 125px;
            right: -29px;
            bottom: -147px;
            left: -408px;
            opacity: 0.2;

        }




    }



    &__buttons-container {
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        z-index: 50;
    }

    &__img-app {
        width: 130px;
        height: 40px;
        cursor: pointer;
    }


    &__h2 {
        color: $color-snow;
        font-family: $font-mono;
        font-size: 32px;
    }

    &__nav {
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

    }

    &__list-item {
        // font-size: 15px;
    }

    &__list-link {
        color: $color-dim-grey;
        font-family: $font-mono;
        text-decoration: none;
    }



    &__bottom {
        background-color: $color-dark-grey;
        height: 25rem;
        z-index: 100;

    }

    &__bottom-content {
        // background-color: red;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__social-container {
        margin: 0 auto;
        display: flex;
        gap: 1.2rem;
        

    }

    &__social-icon {
        height: 24px;
        width: 24px;
    }

    &__logo {
        width: 100px;
        margin: 0 auto;
    }
}