.footer {

    background-color: $color-dark-navy;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5rem;

    @media only screen and (min-width: $bp-tablet) {
        height: auto;
    }

    &__top {

        padding: 2rem;
        height: 40%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
        position: relative;

        @media only screen and (min-width: $bp-tablet) {
            height: 300px;
        }

        @media only screen and (min-width: $bp-desktop) {
            flex-direction: row;
            text-align: initial;
            
            
        }

        &:before {
            content: "";
            display: block;
            background-image: url('../src/assets/patterns/white-circles.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-size: 1000px;
            position: absolute;
            top: 118px;
            right: -29px;
            bottom: -147px;
            left: -408px;
            opacity: 0.2;

            @media only screen and (min-width: $bp-tablet) {
                background-size: 1248px;
                right: -412px;
            }

            @media only screen and (min-width: $bp-desktop) {
                right: -1265px;
                bottom: -234px;
            }

        }




    }



    &__buttons-container {
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        z-index: 50;

        @media only screen and (min-width: $bp-desktop) {
            align-self: center;
        }
    }

    &__img-app {
        width: 130px;
        height: 40px;
        cursor: pointer;

        @media only screen and (min-width: $bp-desktop) {
            width: 159px;
            height: 56px;
        }

    }


    &__h2 {
        color: $color-snow;
        font-family: $font-mono;
        font-size: 32px;

        @media only screen and (min-width: $bp-tablet) {
            font-size: 48px;
            max-width: 457px;
            margin: 0 auto;
        }

        @media only screen and (min-width: $bp-desktop) {
           align-self: center;   
        }
    }

    &__nav {
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin-bottom: 45px;

        @media only screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            margin: 0;


        }

    }

    &__list-link {
        color: $color-dim-grey;
        font-family: $font-mono;
        text-decoration: none;

        &:hover {

            @media only screen and (min-width: $bp-desktop) {
              color: $color-yellow;
                
            }
            
          }
    }



    &__bottom {
        background-color: $color-dark-grey;
        height: 60%;
        z-index: 100;

        @media only screen and (min-width: $bp-tablet) {
            height: 6rem;
        }

    }

    &__bottom-content {

        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 20%;

        @media only screen and (min-width: $bp-tablet) {
            flex-direction: row;
            
        }

        @media only screen and (min-width: $bp-desktop) {
            max-width: 1370px;
            margin: 0 auto; 
        }
    }

    &__social-container {
        margin: 0 auto;
        display: flex;
        gap: 1.2rem;

        @media only screen and (min-width: $bp-tablet) {
            margin: 0 0 0 auto;
        }


    }

    &__social-icon {
        height: 24px;
        width: 24px;
        

        &:hover {

            @media only screen and (min-width: $bp-desktop) {
              cursor: pointer;
              filter: brightness(0) invert(1);
                
            }
            
          }
    }

    &__logo {
        width: 100px;
        margin: 0 auto;

        @media only screen and (min-width: $bp-tablet) {
            width: auto;
            margin: 0;
        }
    }
}