.header {
    background-image: url('../src/assets/images/home-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%; // fit whole image
    height: 100vh;
    position: relative;
    margin-bottom: 5rem;

    @media only screen and (min-width: $bp-tablet) {
        background-image: url('../src/assets/images/home-hero-tablet.jpg');
        background-size: cover;
        display: flex;
        position: relative;
        height: auto;
        padding: 5rem 5rem 10rem 5rem;

    }

    &__content {
        position: relative;
        color: $color-snow;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        text-align: center;

        @media only screen and (min-width: $bp-tablet) {
            align-self: baseline;
            margin-top: 0;
            
        }

    }

    &__description {
        font-family: $font-lex;
        line-height: 30px;
        max-width: 90%;
        margin: 0 auto;

    }

    &__cta {
        background-color: $color-yellow;
        color: $color-snow;
        font-family: $font-mono;
        border: 0;
        cursor: pointer;
        width: 11.25rem;
        padding: 1.2rem;
        margin: 0 auto;
    }

    &__cta.cta-nav {

        bottom: 1rem;
        margin-left: 32px;
        margin-top: 18rem;

        @media only screen and (min-width: $bp-tablet) {
            // margin: 0;
            display: none;
        }
    }

    &__cta.cta-nav-big {

        display: none;

        @media only screen and (min-width: $bp-tablet) {
            display: block;
            margin: 0;
        }
    }

    &__arrow {
        position: absolute;
        bottom: -6.1rem;
        left: -18rem;

        @media only screen and (min-width: $bp-tablet) {
            bottom: -6.1rem;
            left: -12rem;
        }
    }

    &__circles {
        display: none;

        @media only screen and (min-width: $bp-tablet) {
            display: block;
            background-image: url('../src/assets/patterns/white-circles.svg');
            background-repeat: no-repeat;
            height: 5rem;
            position: absolute;
            width: 14rem;
            right: -1rem;
            bottom: 0rem;
        }
    }


}