 .values-join {

     &__content-container {
         
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1.5rem;
         

        //  border: 2px solid rgb(70, 53, 226);
     }

     &__img-container {
        position: relative;
        // border: 2px solid red;
     }

     &__heading {
         color: $color-dark-navy;
         font-family: $font-mono;
         text-align: center;

        
         
     }

     &__heading.number {
         background-color: $color-yellow;
         padding: 2.5rem;
         border-radius: 50%;
         position: absolute;
         top: 12rem;
         left: 4.3rem;
     }

     &__box {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2.5rem;
         margin: 4rem 2.2rem;
         text-align: center;
         position: relative;

        //  border: 2px solid red;

     }

     &__img {
         border-radius: 50%;
         width: 240px;
         height: 240px;
         margin-bottom: 3.5rem;

        
     }

     &__description {
         color: #939CAA;
         font-size: 15px;
         line-height: 25px;

         @media only screen and (min-width: $bp-tablet) {
            max-width: 457px;
        }

         
     }
 }

 h1.values-join__heading {

    @media only screen and (min-width: $bp-tablet) {
        font-size: 48px;
    }
    
   }
   